# Auto detect text files and perform LF normalization
* text=auto
* linguist-vendored=true

# Only detect Rust files
*.rs linguist-vendored=false
*.rs linguist-detectable=true
*.rs linguist-language=Rust
*.rs linguist-documentation=false

# Explicitly vendor everything else
Makefile linguist-vendored=true
makefile linguist-vendored=true
*.mk linguist-vendored=true
*.sh linguist-vendored=true
*.bat linguist-vendored=true
*.cmd linguist-vendored=true
*.txt linguist-vendored=true
*.md linguist-vendored=true
